/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2023, 9:37:56 AM
    Author     : cst20
*/

.cardstyle{
 background-color: #AAC4FF !important;
 border-radius: 20px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
 

}

.image-container{
   /* Set the desired height of the container */
  overflow: hidden; /* This ensures that any overflow is hidden */
  border-radius: 0px 20px 20px 0px;
}




.postcard__bar {
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #2e4d50;
  transition: width 0.2s ease;
}



.cardstyle:hover .postcard__bar {
  width: 200px;
}




.image-container img {
  width: 100%; /* Make the image take up the full width of its container */
  height: 100%; /* Make the image take up the full height of its container */
  object-fit: cover; /* This property scales the image to completely cover the container while preserving its aspect ratio */
  transition: transform 0.3s ease; /* Add a smooth transition effect on hover */
}
.cardstyle:hover .image-container img.enlarge-on-hover{

  transform: scale(1.1); /* Scale the image up to 1.2 times on hover */
}

.fall {
  font-size: 25px !important;
}

.checked {
  color: orange;
}

